<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper-social">

   

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">
            
               <a id="demo" title="printf '\x73\x61\x70\x61\x6a\x6f\x75\x2e\x62\x61\x72\x40\x67\x6d\x61\x69\x6c\x2e\x63\x6f\x6d\n'" onclick="myFunction()" href="mailto:{{ site.email }}">Sapajou bar<i class="fa fa-2x fa-envelope"></i></a>
            
        </ul>
      </div>

      

      <div class="footer-col footer-col-3">
        <p>{{- site.description | escape -}}</p>
      </div>
    </div>
<div class="center">
<h3 class="masthead-footer">
              <a href="https://ubuntu-fr.org/" rel="me" title="Ubuntu"target="_blank"><i class="fab fa-ubuntu"></i></a>
              <a href="/others/bsod.html" rel="me" title="Windows"><i class="fab fa-windows"></i></a> 
			  <a href="/others/apple.html" rel="me" title="Apple" target="_blank"><i class="fab fa-apple"></i></a></h3>

            <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/fr" title="CC BY-NC-SA 4.0 License, link to site disclosure" class="social-icon"><i class="fab fa-creative-commons"></i></a> 2015-{{ site.time | date: '%Y' }} : <a href="{{ site.url }}" title="Home">Sapajou.com</a> | <a href="{{ site.url }}/about/" rel="me">À propos</a>
            </div>
</footer>
<script src="/public/mailto.js"></script>
