<header class="site-header" role="banner">

  <div class="wrapper">
    
          
    <a class="site-title" rel="author" href="{{ "/" | relative_url }}"><i class="fas fa-pastafarianism"></i>  {{ site.title | escape }}</a>
<!-- <small>{{ site.tagline }}</small> 
            <div class="headicons"><h3 class="masthead-title">
              <a href="{{ site.url }}/about" rel="me" title="À propos"><i class="fab fa-ubuntu"></i></a>
              <a href="/others/apple.html" rel="me" title="Apple"><i class="fab fa-apple"></i></a>
              <a href="/others/bsod.html" rel="me" title="Windows"><i class="fab fa-windows"></i></a> </h3></div>  
    
      <nav class="site-nav">
        <div class="headicons"><h3 class="masthead-title">
              
              <a href="{{ site.url }}/blog" rel="me" title="Ebooks"><i class="fas fa-book"><small> Ebooks</small></i></a>
              

 
      
      </nav>
    
  </div>       -->
</header>
