/**
 * Site header
 */
.site-header {
  border-top: 5px solid $grey-color-dark;
  border-bottom: 1px solid $grey-color-light;
  min-height: $spacing-unit * 1.865;

  // Positioning context for the mobile navigation icon
  position: relative;
}

.site-title {
  @include relative-font-size(1.625);
  font-weight: 300;
  line-height: $base-line-height * $base-font-size * 2.25;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;
  margin-left: auto;
  margin-right: auto;
  font-size: 30px;
  &,
  &:visited {
    color: $grey-color-dark;
  }
}

.site-nav {
  float: right;
  line-height: $base-line-height * $base-font-size * 2.25;


  .nav-trigger {
      display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: $spacing-unit / 2;
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg {
        fill: $grey-color-dark;
      }
    }

    input ~ .trigger {
      clear: both;
      display: none;
    }

    input:checked ~ .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;
    }
  }
}



/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit 0;
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
  font-size: 20px;
}

.footer-col-wrapper {
  @include relative-font-size(0.9375);
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width:         calc(35% - (#{$spacing-unit} / 2));
}
/** 
*.footer-col-2 {
*  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
*  width:         calc(20% - (#{$spacing-unit} / 2));
*}
*/

.footer-col-3 {
  width: -webkit-calc(65% - (#{$spacing-unit} / 2));
  width:         calc(65% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}



/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
  flex: 1;
}

.page-heading {
  @include relative-font-size(2);
}

.post-list-heading {
  @include relative-font-size(1.75);
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  @include relative-font-size(1.5);
}



/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.tag {
  margin-left: 10px;
  color: $grey-color;
}


.post-title {
  @include relative-font-size(2.625);
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    @include relative-font-size(2.25);
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    @include relative-font-size(2);

    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(1.625);

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.25);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }
}
.pagination a, .pagination span {
    padding: 7px 18px;
    border: 1px solid #eee;
    margin-left: -2px;
    margin-right: -2px;
    background-color: #ffffff;
    display: inline-block;
  }

.pagination a {    
    &:hover {
        background-color: #f1f1f1;
        color: #333;
    }
 }

.pagination {
    text-align: center;
 }

.social-icons a {
color : #999;
}
.fa-github-square {
padding : 10px 14px 7px;
transition : 0.5s;
background-color : #fff;
}
.fa-github-square:hover {
background-color : #3d5b99;
}
.fa-twitter-square {
padding : 10px 10px 7px;
transition : 0.5s;
background-color : #fff;
}
.fa-twitter-square:hover {
background-color : #00aced;
}
.fa-rss-square {
padding : 10px 12px 7px;
transition : 0.5s;
background-color : #fff;
}
.fa-rss-square:hover {
background-color : #eb8231;
}
.fa-envelope-square {
padding : 10px 12px 7px 11px;
transition : 0.5s;
background-color : #fff;
}
.fa-envelope-square:hover {
background-color : #e64a41;
}
.fa-linkedin-square {
padding : 10px 11px 8px;
transition : 0.5s;
background-color : #fff;
}
.fa-linkedin-square:hover {
background-color : #0073a4;
}
.fa-google-plus-square {
padding : 10px 10px 7px;
transition : 0.5s;
background-color : #fff;
}
.fa-google-plus-square:hover {
background-color : #e25714;
}
.fa-creative-commons {
padding : 2px;
transition : 0.5s;
color : #515151;
background-color : #fff;
}
.fa-print, .fa-twitter.meta {
padding : 1px;
}
.fa-creative-commons:hover {
color : #fff;
background-color : #e64a41;
}
.fa-print {
transition : 0.5s;
color : #9A9A9A;
background-color : #fff;
vertical-align : top;
}
.fa-print:hover {
color : #268bd2;
background-color : #fff;
}
.fa-book {
transition : 0.5s;
color : #505050;
background-color : #fff;
vertical-align : top;
}
.fa-comments, .fa-google-plus {
vertical-align : top;
padding : 1px;
background-color : #fff;
}
.fa-book:hover {
color : #117B58;
background-color : #fff;
}
.fa-google-plus {
transition : 0.5s;
color : #9A9A9A;
}
.fa-google-plus:hover {
color : #268bd2;
background-color : #fff;
}
.fa-comments {
transition : 0.5s;
color : #9A9A9A;
}
.fa-comments:hover {
color : #268bd2;
background-color : #fff;
}
.fa-paperclip {
padding : 1px;
transition : 0.5s;
color : #9A9A9A;
background-color : #fff;
vertical-align : baseline;
}
.fa-files-o, .fa-linkedin {
padding : 1px;
vertical-align : top;
background-color : #fff;
}
.fa-paperclip:hover {
color : #268bd2;
background-color : #fff;
}
.fa-user {
transition : 0.5s;
color : #505050;
}
.fa-user:hover {
color : #268bd2;
background-color : #fff;
}
.fa-files-o {
transition : 0.5s;
color : #9A9A9A;
}
.fa-files-o:hover {
color : #268bd2;
background-color : #fff;
}
.tag-ts, .tag-ts:visited {
color : #888;
}
